/* NAVIGATION BAR CSS */
.nav {
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: #7439db;
  display: flex;
  box-shadow: 0 10px #333;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  
}

.site-title{
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #c66fbc;
}

.nav li:hover {
  background-color: #f7944d;
}

/* MESSAGE FORM CSS*/

.form-container {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur (20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  position: relative;
  border-radius: 10px;
  padding: 30px 40px;
}

.form-container h2 {
  font-size: 36px;
  text-align: center;
}

.form-container input {
  padding: 20px 45px 20px 20px;
}

input {
  margin: 12.5px 0;
  width: 83.5%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 0px;
}

label {
  right: 20px;
  top: 50%;
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: -10px;
}

button {
  width: 40%;
  height: 45px;
  background: rgb(8, 24, 32);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  columns: #333;
  font-weight: 600;
  
}


/* ---------------------------------- */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


